@page
@model WebAddressVerification.Pages.DemoModel

@{

    string CardBorder = "";
    string _bgrStyle = "";
    if (!ModelState.IsValid || !string.IsNullOrEmpty(Model.ErrorMessage)|| Model.ResponseResult == 0)

    {
        _bgrStyle = "bg-danger text-white";
        CardBorder = " border-danger";
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            CardBorder = "border-success";
            _bgrStyle = "bg-success text-white";
        }
    }


}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <form method="post">
                <div class="card @CardBorder">

                    <div class="card-header @_bgrStyle">
                        AdAdress
                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-12">
                                <label asp-for="Input.Country"></label>
                                <select asp-for="Input.Country" type="text" class="form-control" asp-items="@Model.CountrySelectItems"></select>
                                <span asp-validation-for="Input.Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <label asp-for="Input.State"></label>
                                <input asp-for="Input.State" type="text" class="form-control">
                                <span asp-validation-for="Input.State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-8">
                                <label asp-for="Input.City"></label>
                                <input asp-for="Input.City" type="text" class="form-control">
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Input.Zip"></label>
                                <input asp-for="Input.Zip" type="number" class="form-control">
                                <span asp-validation-for="Input.Zip" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-8">
                                <label asp-for="Input.Street"></label>
                                <input asp-for="Input.Street" type="text" class="form-control">
                                <span asp-validation-for="Input.Street" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Input.Number"></label>
                                <input asp-for="Input.Number" class="form-control">
                                <span asp-validation-for="Input.Number" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer @_bgrStyle ">

                        <button type="submit">Submit</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
   
    
    @if (Model.ResponseResult == 0)
    {

        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <p class="text-danger">This address don't exist!Here is some address close to your choise</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-md">
                            <thead class="thead-dark">
                                <tr>
                                    <th>RequestId</th>
                                    <th>CountryCodeISO2 </th>
                                    <th>State</th>
                                    <th>City </th>
                                    <th>Zip</th>
                                    <th>Street</th>
                                    <th>Number</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var a in Model.ResponseDetails)
                                {


                                    <tr>
                                        <td>@a.RequestId</td>
                                        <td>@a.CountryCodeISO2</td>
                                        <td>@a.State</td>
                                        <td>@a.City</td>
                                        <td>@a.Zip</td>
                                        <td>@a.Street</td>
                                        <td>@a.StreetNumber</td>
                                        <td>@a.Rate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    }
    @if (Model.ResponseResult == 1)
    {
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">@Model.SuccessMessage</h4>
                    <div class="row">
                        <div class="col">Country</div>
                        <div class="col">@Model.Input.Country</div>
                        <div class="col"></div>
                        <div class="col">State</div>
                        <div class="col">@Model.Input.State</div>
                    </div>
                    <div class="row ">
                        <div class="col">City</div>
                        <div class="col">@Model.Input.City</div>
                        <div class="col"></div>
                        <div class="col">Zip</div>
                        <div class="col">@Model.Input.Zip</div>
                    </div>
                    <div class="row">
                        <div class="col">Street</div>
                        <div class="col">@Model.Input.Street</div>
                        <div class="col"></div>
                        <div class="col">Number</div>
                        <div class="col">@Model.Input.Number</div>
                    </div>              
                </div>
            </div>
        </div>
      }



</div>